.infoLine {
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-s);
  justify-content: space-between;
  align-items: center;
}

.infoLine h5, div{
  margin: 0
}

.infoLine h5 {
  opacity: 0.5;
  font-size: var(--font-size-s);
  font-weight: 400;
  margin-top: 0.25rem;
}

.infoLine div {
  color: var(--color-chipsTealLight)
}

#cashierInfo {
  padding: 0.5rem 0.5rem 0 0.5rem;
}

/** DEPOSIT */

#additionalInfo {
  font-family: var(--font-family-secondary);
  font-weight: 400;
  font-size: var(--font-size-s);
  margin-top: 1.5rem;
}

#depositModalbuttons {
  bottom: 2rem;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

#depositAddrLabel {
  font-family: var(--font-family-secondary);
  font-weight: 400;
  font-size: var(--font-size-s);
  margin-top: 2rem;
  text-align: center;
}

#depositAddressContainer {
  background-color: black;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  padding: 0.5rem;
  display: flex;
}

#depositBalance {
  color: var(--color-accent);
}

#depositAddress {
  color: var(--color-primaryLight);
  font-size: var(--font-size-s);
  padding-right: 1rem;
}