.infoLine {
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-s);
  justify-content: space-between;
  align-items: center;
}

.infoLine h5, div{
  margin: 0
}

.infoLine div {
  color: var(--color-chipsTealLight)
}

#cashierInfo {
  padding: 0.5rem 0.5rem 0 0.5rem;
}