
.resultLabel {
    color: var(--color-superLightGray);
    opacity: 0.5
  }
  
  #withdrawalResult {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-s);
  }
  
  .infoRow {
    padding: 0.25rem 0 0.25rem 0;
  }
  
  #withdrawalInfo {
    margin-top: 0.5rem;
    margin-bottom: 3rem;
  }
  
  #withdrawalInfo a {
    color: var(--color-superLightGray);
  }
  
  
  #withdrawalInfo div{
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  #withdrawalInfo div div{
    padding-left: 10px;
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-s);
  }
  
  #withdrawalInfo div label {
    display: block;
    width: 3rem;
    text-align: left;
    opacity: 0.5;
  }
  
  #transactionIdText {
    font-family: var(--font-family-secondary);
    font-weight: 400;
    font-size: var(--font-size-s);
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }