/* Icons from directory "" */
.chip-1,.chip-1\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.chip-1-dims{width:26px;height:26px}
.chip-10,.chip-10\:regular{background-image:url('icons/icons.svg');background-position:0 -26px;background-repeat:no-repeat}
.chip-10-dims{width:26px;height:26px}
.chip-100,.chip-100\:regular{background-image:url('icons/icons.svg');background-position:0 -52px;background-repeat:no-repeat}
.chip-100-dims{width:26px;height:26px}
.chip-100B,.chip-100B\:regular{background-image:url('icons/icons.svg');background-position:0 -78px;background-repeat:no-repeat}
.chip-100B-dims{width:26px;height:26px}
.chip-100K,.chip-100K\:regular{background-image:url('icons/icons.svg');background-position:0 -104px;background-repeat:no-repeat}
.chip-100K-dims{width:26px;height:26px}
.chip-100M,.chip-100M\:regular{background-image:url('icons/icons.svg');background-position:0 -130px;background-repeat:no-repeat}
.chip-100M-dims{width:26px;height:26px}
.chip-10B,.chip-10B\:regular{background-image:url('icons/icons.svg');background-position:0 -156px;background-repeat:no-repeat}
.chip-10B-dims{width:26px;height:26px}
.chip-10K,.chip-10K\:regular{background-image:url('icons/icons.svg');background-position:0 -182px;background-repeat:no-repeat}
.chip-10K-dims{width:26px;height:26px}
.chip-10M,.chip-10M\:regular{background-image:url('icons/icons.svg');background-position:0 -208px;background-repeat:no-repeat}
.chip-10M-dims{width:26px;height:26px}
.chip-1B,.chip-1B\:regular{background-image:url('icons/icons.svg');background-position:0 -234px;background-repeat:no-repeat}
.chip-1B-dims{width:26px;height:26px}
.chip-1K,.chip-1K\:regular{background-image:url('icons/icons.svg');background-position:0 -260px;background-repeat:no-repeat}
.chip-1K-dims{width:26px;height:26px}
.chip-1M,.chip-1M\:regular{background-image:url('icons/icons.svg');background-position:0 -286px;background-repeat:no-repeat}
.chip-1M-dims{width:26px;height:26px}
.chip-5,.chip-5\:regular{background-image:url('icons/icons.svg');background-position:0 -312px;background-repeat:no-repeat}
.chip-5-dims{width:26px;height:26px}
.chip-50,.chip-50\:regular{background-image:url('icons/icons.svg');background-position:0 -338px;background-repeat:no-repeat}
.chip-50-dims{width:26px;height:26px}
.chip-500,.chip-500\:regular{background-image:url('icons/icons.svg');background-position:0 -364px;background-repeat:no-repeat}
.chip-500-dims{width:26px;height:26px}
.chip-500B,.chip-500B\:regular{background-image:url('icons/icons.svg');background-position:0 -390px;background-repeat:no-repeat}
.chip-500B-dims{width:26px;height:26px}
.chip-500K,.chip-500K\:regular{background-image:url('icons/icons.svg');background-position:0 -416px;background-repeat:no-repeat}
.chip-500K-dims{width:26px;height:26px}
.chip-500M,.chip-500M\:regular{background-image:url('icons/icons.svg');background-position:0 -442px;background-repeat:no-repeat}
.chip-500M-dims{width:26px;height:26px}
.chip-50B,.chip-50B\:regular{background-image:url('icons/icons.svg');background-position:0 -468px;background-repeat:no-repeat}
.chip-50B-dims{width:26px;height:26px}
.chip-50K,.chip-50K\:regular{background-image:url('icons/icons.svg');background-position:0 -494px;background-repeat:no-repeat}
.chip-50K-dims{width:26px;height:26px}
.chip-50M,.chip-50M\:regular{background-image:url('icons/icons.svg');background-position:0 -520px;background-repeat:no-repeat}
.chip-50M-dims{width:26px;height:26px}
.chip-5B,.chip-5B\:regular{background-image:url('icons/icons.svg');background-position:0 -546px;background-repeat:no-repeat}
.chip-5B-dims{width:26px;height:26px}
.chip-5K,.chip-5K\:regular{background-image:url('icons/icons.svg');background-position:0 -572px;background-repeat:no-repeat}
.chip-5K-dims{width:26px;height:26px}
.chip-5M,.chip-5M\:regular{background-image:url('icons/icons.svg');background-position:0 -598px;background-repeat:no-repeat}
.chip-5M-dims{width:26px;height:26px}