:root {
  /* Moon theme */
  --color-bloodRed: "#CE1311";
  --color-chipsOrange: "#FCAA2A";
  --color-chipsTeal: "#4D8484";
  --color-chipsTealLight: "#6DABAB";

  /* Basic Colors */
  --color-almostBlack: "#121318";
  --color-darkGray: "#1e1f24";
  --color-superLightGray: "#eeeeee";
  --color-white: "#FFFFFF";

  /* Active theme - override these to change the theme */
  --color-accent: #fcaa2a;
  --color-background: #121318;
  --color-danger: #ce1311;
  --color-primary: #4d8484;
  --color-primaryLight: #6dabab;
  --color-text: #ffffff;

  /* Fonts */
  /* Font families */
  --font-family-primary: "Noticia Text", serif;
  --font-family-secondary: "PT Sans", sans-serif;

  /* Font sizes */
  --font-size-xxs: 0.625rem; /* ~10px */
  --font-size-xs: 0.75rem; /* ~12px */
  --font-size-s: 0.875rem; /* ~14px */
  --font-size-m: 1rem; /* ~16px */
  --font-size-xl: 2rem; /* ~30px */
}
