:root {
  /* Moon theme */
  --color-bloodRed: "#CE1311";
  --color-chipsOrange: "#FCAA2A";
  --color-chipsTeal: "#4D8484";
  --color-chipsTealLight: "#6DABAB";

  /* Basic Colors */
  --color-almostBlack: "#121318";
  --color-darkGray: "#1e1f24";
  --color-superLightGray: "#eeeeee";
  --color-white: "#FFFFFF";

  /* Active theme - override these to change the theme */
  --color-accent: #fcaa2a;
  --color-background: #121318;
  --color-danger: #ce1311;
  --color-primary: #4d8484;
  --color-primaryLight: #6dabab;
  --color-text: #ffffff;
}
