:root {
  /* Moon theme */
  --bloodRed: "#CE1311";
  --chipsOrange: "#FCAA2A";
  --chipsTeal: "#4D8484";
  --chipsTealLight: "#6DABAB";

  /* Basic Colors */
  --almostBlack: "#121318";
  --darkGray: "#1e1f24";
  --superLightGray: "#eeeeee";
  --white: "#FFFFFF";

  /* Active theme - override these to change the theme */
  --accent: #fcaa2a;
  --background: #121318;
  --danger: #ce1311;
  --primary: #4d8484;
  --primaryLight: #6dabab;
  --text: #ffffff;
}
