.Notice {
    float: right;
    color: var(--color-text);
    font-size: var(--font-size-l);
}

#overlayBg {
    background-color: #000000;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

#information {
    position: absolute;
    color: var(--color-text);
    text-align: center;
    padding-top: 16rem;
    height: 37.5rem;
    width: 50rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#gameType {
    color: white;
    position: absolute;
    top: 0.25rem;
    left: 1.3rem;
    z-index: 4;
    font-size: var(--font-size-xs);
}

#balanceGame {
    color: var(--color-accent);
    position: absolute;
    top: 1.55rem;
    left: 1.3rem;
    z-index: 4;
    font-size: var(--font-size-xs);
}
